:root{
    --color-header: #171C24;
    --color-letter:#F5F5F5;
    --color-button-hover: #424C5A;
}

h1{
    color: #2E3848;
    font-size: 25px;
    margin-top: auto;
}

h2{
    font-size: 20px;
}

.title{
    color: #878787;
    font-size: 18px;
    margin-bottom: 1%;
}

#logo{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.container-flex{
    display: flex;
}


.container-header{
    background: var(--color-header);
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 85px;
}

.container-item-header:nth-child(2){
    flex-grow: .5;
}

nav{
    width: 100%;
}

ul{
    flex-grow: 1;
    justify-content: space-around;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

a{
    font-size: 18px;
    color: var(--color-letter);
    text-decoration: none;
}

a:hover{
    color: #10A5A0;
}


.container-section, .container-item-section{
    flex-direction: column;
}

.container-item-section > button{
    margin-left: auto;
    margin-right: auto;
}

.container-section{
    padding: 12px;
    align-items: center;
}

.button{
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
    color: var(--color-letter);
    background: var(--color-header);
    border-radius: 5px;
    width: 50%;
}

.button:hover{
    background: var(--color-button-hover);
}

.container-section-sobremi{
    justify-content: center;
    background: var(--color-header);
    color: var(--color-letter);
}
