:root{
    --color-background: #171C24;
    --color-letter:#F5F5F5;
    --color-button-hover: #424C5A;
    --color-nav-border: #10A5A0;
    --padding-general: 16px;
}

/* Estilos Especificos*/

html{
    font-family: 'Roboto', sans-serif;
}

h1{
    color: #2E3848;
    font-size: 1.6rem;
    margin-top: auto;
}

h2{
    font-size: 1.2rem;
}

.title{
    color: #878787;
    margin-bottom: .2em;
}

.button{
    cursor: pointer;
    font-size: .95rem;
    padding: .4rem;
    color: var(--color-letter);
    background: var(--color-background);
    border-radius: .4rem;
    width: 7.5em;
}

.button:hover{
    transition: all .3s;
    background: var(--color-button-hover);
}

h3{
    font-size: .95rem;
}

p{
    margin-top: 1px;
    font-size: .85rem;
    line-height: 1.2rem;
}

span{
    font-weight: 700;
}

.size-image{
    width: 45px;
    height: 45px;
}

.logo{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.logo-redes-sociales{
    width: 24px;
    height: 24px;
}

.container-flex{
    display: flex;
}

.container-flex-direction{
    flex-direction: column;
}

nav{
    width: 100%;
}

ul{
    flex-grow: 1;
    justify-content: space-around;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

a{
    font-size: .9rem;
    color: var(--color-letter);
    text-decoration: none;
}

a:hover{
    transition: all .3s;
    color: var(--color-nav-border);  
}

.img-fit{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: 1px solid #dedede;
}

.img-fit-contacto{
    object-fit: cover;
    width: 50%;
    height: 50%;
    border-radius: 50%;
}

.card{
    align-items: center;
    margin: 30px;
    border:  1px solid #dedede;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 5px 0 #424C5A;
}

.logo-redes-sociales-contacto{
    background: white;
    width: 24px;
    height: 24px;
    border-radius: 25%;
    padding: 4px;
}

.container-form{
    width: 100%;
}

form{
    gap: .4rem;
    background: var(--color-background);
    color: var(--color-letter);
}

/* Estilos Especificos */

/*Estilos Generales */

.container-header{
    background: var(--color-background);
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 85px;
}

.container-item-header:nth-child(2){
    flex-grow: .5;
}

.container-item-section > button{
    margin-left: auto;
    margin-right: auto;
}

.container-section{
    padding: 12px;
    align-items: center;
}

.container-section-sobremi{
    justify-content: center;
    background: var(--color-background);
    color: var(--color-letter);
    padding: var(--padding-general);
}

.container-section-sobremi:nth-child(2)>.container-section-item-sobremi{
    border-radius: 5px;
    border-color: var(--color-nav-border);
    border-style: solid;
    border-width: 1px;
    padding: var(--padding-general);
}

.container-section-sobremi:nth-child(2)>.container-section-item-sobremi:nth-child(2){
    margin-top: 16px;
}

.container-section-customer{
    justify-content: center;
    padding: var(--padding-general);
}

.container-section-item-customer{
    flex-direction: row;
    justify-content: center;
}

.container-section-item-customer:nth-child(1){
    margin-top: 2rem;
    margin-bottom: -1.5rem;
}

.container-section-item-customer:nth-child(2){
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-section-contacto{
    color: var(--color-letter);
    background: var(--color-background);
    padding: var(--padding-general);
}

.container-section-item-contacto{
    align-items: center;
    justify-content: space-between;
}

footer{
    text-align: center;
    margin-top: -1px;
    padding: var(--padding-general);
    background-color: var(--color-background);
    color: var(--color-letter);
}

/*Estilos Generales */